.idea/
.vscode/
.gitnexus/
.local/
.m2/
target/
node_modules/
.next/
dist/
.DS_Store
.env
.env.local
.env.development
.env.production
*.iml
*.log
coverage/
output/
*.tsbuildinfo
shelfflow-backend/.m2/
shelfflow-backend/.mvn/
logs/
shelfflow-backend/shelfflow-server/src/main/resources/application-dev.yml
