shelfflow:
  server:
    port: ${SHELFFLOW_BACKEND_PORT}
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    host: ${SHELFFLOW_MYSQL_HOST}
    port: ${SHELFFLOW_MYSQL_PORT}
    database: shelfflow
    username: #your mysql username(eg:root)
    password: #your mysql password
  redis:
    host: ${SHELFFLOW_REDIS_HOST}
    port: ${SHELFFLOW_REDIS_PORT}
    password: #your redis password
    database: 1


  alioss:
    endpoint: #the nearby endpoint
    access-key-id: #
    access-key-secret: #
    bucket-name: #

  wechat:
    appid: #
    secret: #
    mchid:  #
    mchSerialNo: #
    privateKeyFilePath:   # eg: D:\apiclient_key.pem
    apiV3Key: #
    weChatPayCertFilePath: #eg: D:\wechatpay_1D845079895AC7CE966FE6698543C9F68ACFC.pem
    notifyUrl:  https://www.weixin.qq.com/wxpay/pay.php
    refundNotifyUrl:  https://www.weixin.qq.com/wxpay/pay.php
  baidu:
    ak: #
  pickup-point:
    address: #your pickup point address, eg: 北京市西城区前门西大街正阳市场2号


