@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.98 0.003 247.858);
  --foreground: oklch(0.21 0.034 264.665);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.21 0.034 264.665);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.21 0.034 264.665);
  --primary: oklch(0.26 0.064 262.37);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.96 0.006 247.896);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.96 0.006 247.896);
  --muted-foreground: oklch(0.45 0.03 256.802);
  --accent: oklch(0.96 0.006 247.896);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.64 0.208 25.331);
  --destructive-foreground: oklch(0.99 0 0);
  --border: oklch(0.91 0.01 257.36);
  --input: oklch(0.91 0.01 257.36);
  --ring: oklch(0.68 0.12 257.89);
  --radius: 0.5rem;
  --font-inter: "Inter", sans-serif;
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: ui-monospace, SFMono-Regular, SF Mono, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html,
  body {
    @apply min-h-screen bg-background text-foreground;
  }

  body {
    @apply font-sans;
  }
}
